
.vs/ScratchPAD/FileContentIndex/

.vs/ScratchPAD/v17/

ScratchPAD.sln

ScratchPAD/imgui/

x64/Debug/

ScratchPAD/ScratchPAD.vcxproj

ScratchPAD/ScratchPAD.vcxproj.user

ScratchPAD/x64/Debug/

ScratchPAD_IO/ScratchPAD_IO.vcxproj

ScratchPAD_IO/ScratchPAD_IO.vcxproj.filters

ScratchPAD_IO/ScratchPAD_IO.vcxproj.user

ScratchPAD_IO/x64/Debug/

ScratchPAD/ScratchPAD.vcxproj.filters

ScratchPAD_XmlParser/ScratchPAD_XmlParser.vcxproj

ScratchPAD_XmlParser/ScratchPAD_XmlParser.vcxproj.filters

ScratchPAD_XmlParser/ScratchPAD_XmlParser.vcxproj.user

ScratchPAD_XmlParser/x64/Debug/ScratchP.d669952a.tlog/

ScratchPAD_XmlParser/x64/Debug/
